<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/w3/org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>
<!--    <p>고정값 data</p>-->
<!--    <p th:text="data">여기 입력한 내용</p>-->
<!--    <br>-->
<!--    <p>받아온 값 data</p>-->
<!--    <p th:text="${data}">여기 입력한 내용</p>-->
<h1> GET submit form</h1>
<form method="get" action="/param3">
    <p><input type="text" name="name1"></p>
    <p><input type="text" name="name2"></p>
    <p><input type="text" name="name3"></p>
    <input type="submit" value="제출">
</form>
</body>
</html>